bin/
obj/
ChislennieMethody_Lab1/bin/
ChislennieMethody_Lab1/obj/
ChislennieMethody_Lab2/bin/
ChislennieMethody_Lab2/obj/
ChislennieMethody_Lab3/bin/
ChislennieMethody_Lab3/obj/
ChislennieMethody_Lab4/bin/
ChislennieMethody_Lab4/obj/
Utils/bin/
Utils/obj/

